{% extends "base.html" %}

{% block title %}{{ page_name }}{% endblock title %}

{% block sidenav %}
    {% for page in page_list %}
    <li>
      <a href="{{ page.permalink }}">{{ page.page_name }}</a>
    </li>
    {% endfor %}
{% endblock sidenav %}


{% block content %}
{% autoescape off %}
<h1>{{page_name}}</h1><br>
{{ content }}
{% endautoescape %}
<br><br><br><br><br><br><br><br><br><br><br><br><br>

<p>
    Page last updated: {{ last_updated|date:'D d F Y'}}
</p>
{% endblock content %}
